[Unit]
Description=Zigbee2MQTT
After=network.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
User=__USER__
WorkingDirectory=/opt/zigbee2mqtt
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10

[Install]
# Started by udev rule when Zigbee dongle is plugged in
# WantedBy=multi-user.target
